:root{
    --teal: #3E667A;
    --light-orange: #FF8E7A;
    --pale-purple: #986D81;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: sans-serif;
}

body{
    position: relative;
}


/*.hidden and .shown are used for the js functions to change from one page to another*/
.hidden{
    display: none;
}

.shown{
    display: block;
}

#timer, #view-high-scores{
    position: absolute;
    top: 0;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: var(--teal);
}

#timer{
    right: 0;
}

#view-high-scores{
    left: 0;
    cursor: pointer
}

#view-high-scores:hover{
    opacity: 75%;
}

header{
    width: 75%;
    margin: 0 auto;
}

h1{
    text-align: center;
    padding-top: 10%;
    color: var(--teal);
    font-size: 300%;
}

h2{
    font-size: 200%;
    color: var(--teal);
    margin-bottom: 2%;
}

p{
    margin: 5% 0;
    font-size: 20px;
}

.start-button{
    display: block;
    margin: 0 auto;
    font-size: 200%;
    font-weight: bold;
    padding: 10px;
    background-color: var(--light-orange);
    color: var(--teal);
    border-color: var(--pale-purple);
    border-width: 5px;
    transition-duration: .5s;
}

.start-button:hover{
    box-shadow: 10px 10px 10px var(--teal);
    transform: scale(1.1);
}

#question-page{
    width: 75%;
    padding: 5% 0 0 5%;
}

.clickable ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
}

.clickable li{
    margin: 5px 0;
}

.answer-button{
    display: block;
    padding: 10px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    font-weight: bold;
    background-color: var(--light-orange);
    color: var(--teal);
}

.answer-button:hover{
    opacity: 75%;
}

#score-page label{
    color: var(--teal);
    font-weight: bold;
}

#score-page input{
    color: var(--teal);
    font-weight: bold;
    border-color: var(--light-orange);
    margin-right: 20px;
    padding: 10px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.other-flex button{
    margin: 10px 10px 10px 0;
    padding: 10px;
    border: 2px solid var(--pale-purple);
    border-radius: 5px;
    font-size: 100%;
    font-weight: bold;
    background-color: var(--light-orange);
    color: var(--teal);
}

.other-flex button:hover, #submit:hover{
    opacity: 75%;
}

#submit{
    padding: 10px;
    border: 2px solid var(--pale-purple);
    border-radius: 5px;
    font-size: 100%;
    font-weight: bold;
    background-color: var(--light-orange);
    color: var(--teal);
}

#score-page{
    text-align: center;
}

#score-text{
    color: var(--teal);
}

#end-text{
    padding-top: 10%;
}

#high-score-page{
    width: 50%;
    margin: 0 auto;
    padding-top: 10%;
}

#all-scores-listed{
    background-color: var(--light-orange);
    padding: 5px;
}

.ul-style{
    list-style-type: none;
    color: var(--teal);
    font-weight: bold;
}