*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: sans-serif;
}

body{
    position: relative;
}

.hidden{
    display: none;
}

.shown{
    display: block;
}

header{
    width: 75%;
    margin: 0 auto;
}

h1{
    text-align: center;
    padding: 5% 0 0 0;
    color: #3E667A;
    font-size: 300%;
}

h2{
    font-size: 200%;
    color: #3E667A;
    margin-bottom: 2%;
}

p{
    margin: 5% 0;
    font-size: 20px;
}

.start-button{
    display: block;
    margin: 0 auto;
    font-size: 200%;
    font-weight: bold;
    padding: 10px;
    background-color: #FF8E7A;
    color: #3E667A;
    border-color: #986D81;
    border-width: 5px;
    transition-duration: .5s;
}

.start-button:hover{
    box-shadow: 10px 10px 10px #3E667A;
    transform: scale(1.1);
}

#question-page{
    width: 75%;
    padding: 5% 0 0 5%;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-type: none;
}

li{
    margin: 5px 0;
}

.answer-button{
    display: block;
    padding: 10px;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
    font-size: 100%;
    font-weight: bold;
    background-color: #FF8E7A;
    color: #3E667A;
}

.answer-button:hover{
    opacity: 75%;
}

#timer{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #3E667A;
}